@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'variables';

body {
  background-color: $favColor;
}

.card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4f4f4f;
}

.btn {
  background-color: black;
  margin-top: 20px;
}

p {
  color: white;
  font-size: x-large;
}

.setup,
.punchline {
  color: white;
  font-size: 20px;
}
